.mainContainer{
  padding: 10px;
}

.navigationLink{
  color: blue;
  padding-right: 10px;
}

.navigationLinkActive{
  color: red;
}

.listItem {
  padding-right: 10px;
  min-width: 400px;
  display: inline-block;
}

.listItemDelete{
  padding-left: 10px;
}