<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>
<body>
    {{>menu}}
    
    <h1>{{title}}</h1>
    {{#if emailsVisible}}
      <p>Электронный адреса: {{#each emails}} <li>{{this}}</li> {{/each}}</p>
    {{/if}}
    <p>Телефон: {{phone}}</p>

    {{>footer}}
</body>
<html>
