<!DOCTYPE html>
<html>
<head>
    <title>Пользователи</title>
    <meta charset="utf-8" />
</head>
<body>
    {{> menu}}
    <h1>Пользователи</h1>
    <div>
      {{#each users}}
        <div><a href="users/{{id}}">{{name}} ({{age}})</a></div>
      {{/each}}
    </div>
    {{> footer}}
</body>
<html>
