.addItemContainer{
    padding: 5px;
}

.addItemTitle {
    padding: 5px;
    font-weight: bold;
}

.addItemElementsContainer {
    background-color: #bbb;
    padding: 5px;
    border-radius: 5px;
}

.addItemElementsContainer input{
    margin-right: 5px;
    height: 20px;
    border-radius: 3px;
    border-width: 1px;
    padding: 3px 3px 3px 8px;
    border: none;
    font-size: 15px;
}

.addItemElementsContainer input:focus{
    outline: none;
}

.addItemCount {
    width: 50px;
    text-align: center;
}

.addItemSave {
    border-radius: 3px;
}

.addItemDate{
    width: 100px;
    text-align: center;
    padding-left: 0px !important;
}

.button {
    background-color: #abcdff;
    display: inline-block;
    text-align: center;
    padding: 3px;
    min-width: 50px;
    cursor: pointer;
    vertical-align: top;
    height: 20px;
}

.button:hover {
    background-color: #75adff;
}

.notValidValue {
    background-color: #ffe6e6;
}

.validateMessage{
    padding: 4px;
    color: red;
}